<div class="home-page-container">
  <div class="top-container">
    <p>main picture/video goes here</p>
  </div>
  <div class="info-container container">
    <div class="col-sm-12">
      <div class="row">
        <div class="info-section col-md-4">
          <p class='title'><b>Info Section</b></p>
          <p class='desc'>Here's a description about the headline above.</p>
        </div>
        <div class="info-section col-md-4">
          <p class='title'><b>More Info Section</b></p>
          <p class='desc'>Here's a description about the headline above.</p>
        </div>
        <div class="info-section col-md-4">
          <p class='title'><b>Even more Info Section</b></p>
          <p class='desc'>Here's a description about the headline above.</p>
        </div>
      </div>
    </div>
  </div>
</div>
